<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptimusTech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/config.css">
    <link rel="stylesheet" href="/assets/css/components.css">
</head>

<body>
    <content class="container">
        <navbar class="navbar">
            <ul class="navbar__items">
                <li class="navbar__item">
                    <div class="logo">
                        <img src="/assets/img/logo.svg" alt="Logo OptimusTech illustração da World Wide Web">
                        <h1>OptimusTech</h1>
                    </div>
                </li>
                <li class="navbar__item">
                    <a class="navbar__item__link" href="">Home</a>
                    <a class="navbar__item__link" href="">Produtos</a>
                    <a class="navbar__item__link" href="" >Recursos</a>
                    <a class="navbar__item__link" href="">Sobre nós</a>
                </li>
                <li class="navbar__item">
                    <button class="button button__default"></button>
                    <button class="button button__cta"></button>
                </li>
            </ul>
        </navbar>
    </content>
</body>

</html>