:root {
    --white: white;
    --gray: #3A404E;
    --gray-900: #101828;
    --gray-500:  #667085;
    --gray-100: #F9FAFB;
    --red-900: #8E2424;
    --red-500:  #C31919;

    --text-xsm: 16px;
    --text-sm: 18px
    --text-md: 20px;
    --text-lg: 36px;
    --text-xlg: 48px;
    --text-x2lg: 60px;

}

body{
    font-family: 'Inter', sans-serif;
    font-size: var(--text-md);
}